.vertical-slider.onyx-progress-bar {
	position: relative;
	margin: 0.75rem 0.625rem;
	height: 12.5rem;
	width: 0.5rem;
	display:inline-block;
}

.vertical-slider .onyx-progress-bar-bar {
	width:100%;
	position: absolute;
}

.vertical-slider .onyx-slider-knob {
	margin-top:-1.125rem;
	left:0.25rem;
	width:1.75rem;
	height:1.75rem;
	background-position: 50% -0.375rem;
}

.vertical-slider .onyx-slider-knob {
	margin-top:-1.25rem;
	margin-left:-1.25rem;
	width:2.5rem;
	height:2.5rem;
	background-size: 100% auto;
	background-position: center 0;
}

.vertical-slider .onyx-slider-knob.pressed {
	background-position: center 100%;
}

.vertical-slider .onyx-slider-taparea {
	height:100%;
	width:1.75rem;
	right:-0.625rem;
	top:0;
}
